# Data Science Tools and Ecosystem

## Author
Stefan Pircalabu

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List some commonly used libraries used by Data Scientists.
* Make a table with Data Science Tools that are Open Source
* Do a basic arithmetic Operation
* Convert 200 minutes into hours (divide by 60)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Julia
6. Java

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-Learn
2. ggplot
3. matplotlib
4. pythorch
5. tensorflow
6. keras
7. Numpy
8. Pandas

|Data Science Tools|
|------------------|
|Spyder|
|Rstudio|
|VScode|
|ApacheSpark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335